<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue dans la Cowork-line <%= @user.first_name %></h1>
    <p>
      Plus qu'une petite étape !
    </p>
    <p>
      Votre inscription à bien été prise en compte, pour être ajouté à la liste d'attente,veuillez simplement cliquer ici pour vérifier votre email:  <%=  link_to "confirm", confirm_email_url(@user.confirm_token, host: "www.cowork-line.herokuapp.com/pages")%>

    </p>
    <p>Merci de votre confiance et à bientôt dans nos locaux !</p>
  </body>
</html>