<h1>Cowork-line</h1>
<h2>Bienvenue dans la file d'attente du Cowork</h2>


<p>
    Vous souhaitez louez un espace de travail chez Cowork ? 
    <br/>
    En raison du grand nombre de demandes, nous demandons désormais à tout
    nouveau demandeur de s'inscrire sur notre liste d'attente
</p>

<button>C'est par ici !</button>

<p>
    Vous êtes déja inscris ?
</p>

<button>Voyons ou vous en êtes !</button>
