<% if !@current_user %>
    <header>
        <h1>Oups, on dirait que vous n'êtes pas connecté</h1>
    </header>

<% else %>
<header>
    <h1>Bienvenue <%= @current_user.first_name %> :)</h1>
</header>
    <section class="profil-section">

        <p>
            Il y a actuellement 
            <span class="user-number"><%= @users_number.length %></span>
             utilisateurs dans la liste d'attente et vous êtes numéro 
             <span class="user-number"><%= @users_before %></span>
         </p>

        <p>
            <%= link_to "Se deconnecter", "/pages/disconnect" %>
        </p>
    </section>
<% end %>