<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %></h1>
    <p>
      Toujours intéressé par Cowork ?
    </p>
    <p>
      Afin d'optimiser l'attente au maximum, nous envoyons un email aux personnes en liste d'attente tout les trois mois. Si vous êtes toujours présent et motivé, cliquez simplement sur ce lien :  <%=  link_to "Je suis toujours la !", confirm_email_url(@user.id, host: "https://cowork-line.herokuapp.com")%>
    </p>
    <p>Sans confirmation de votre part dans la semaine à venir, vous perdrez votre place dans la liste.</p>
    <p>Merci de votre attente et à bientôt dans nos locaux !</p>
  </body>
</html>